*{
    margin: 0;
    font-family: sans-serif;
    /* margin-right: auto;
    margin-left: auto; */
}
.GOGOapp{
    background-color: #F4F4F4;
    /* width: 70%;
    padding: 15%;
    padding-top: 3%; */
   

  
  
   
}
.gogo{
    height: auto;
    width: 70;
    background-color: #F4F4F4;
   
}
.header{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    gap: 100px;
    padding: 32px   ;
}
.section1{
    display: flex;
    flex-direction: row;
    gap: 34px;
    /* flex-grow: 2; */
    justify-content: center;
    font-size: 16px;
}
.section11{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    gap: 10px;
    
}
.selections{
    display: flex;
    flex-direction: row;
    position: relative;
}
.ul{
    display: inline;
    padding: 0;
}
.ul li{
    display: inline-block;
}
.selections:hover{
    background-color: #F4F4F4;
}
.ul.li:hover{
    background-color: white;
}
.selections p:hover ul{
    display: block;
    background-color: aqua;
}
.selections li ul{
    position:absolute;
    display: none;
}
.selections p ul li a{
    display: block !important;
}
.selections p ul li:hover{
    background-color: #F4F4F4;
}
.section2{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 32px;
}
.forecast{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;

}
.forecast1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 12px;
}